body{background-color: rgb(210, 243, 24);}

.header{
    font-size: larger;
    display: flex;
    justify-content: center;
    justify-content: space-between;}

.navbar a{display: flex;
    justify-content:space-evenly;
    font-size: larger;
 }
 .img{display: flex;
      justify-content:right;
}
.navbar a:hover{
    color:blue
}

.para {font-size: larger;
    color:red;
    display: flex;
    flex-wrap:nowrap;
}

.intro{display: flex;
flex-direction: column;}



